<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>햄버거 주문</title>
<link rel="stylesheet" th:href="@{styles.css}" />
</head>
<body onload="copyCCN()">
  <div th:replace="~{fragments/topLinks :: header}"></div>
  <form method="POST" th:action="@{/orders}" th:object="${corder}">
    <h1>당신이 버거 작품을 주문하세요:</h1>
    <img th:src="@{/images/hamburger.jpg}" />
    <h3>주문되는 햄버거(들):</h3>
    <a th:href="@{/design}" id="another">햄버거 추가하기</a></br>
    <ul>
      <li th:each="burgerName: ${burgerNames}"><span
        th:text="${burgerName}">햄버거 이름</span>
    </ul>
    
    <div th:if="${#fields.hasErrors()}">
      <span class="validationError">다음 오류를 수정한 뒤 다시 제출하시오</span>
    </div>
    
    <h3>햄버거 배송지 주소:</h3>
    <label for="custName">성명:</label>
    <input type="text" th:field="*{custName}" />
    <span class="validationError"
      th:if="${#fields.hasErrors('custName')}"
      th:errors="*{custName}">카드번호 오류자리</span>
    <br />
    
    <label for="addrRoad">도로명 주소:</label>
    <input type="text" th:field="*{addrRoad}" />
    <span class="validationError"
      th:if="${#fields.hasErrors('addrRoad')}"
      th:errors="*{addrRoad}">카드번호 오류자리</span>
    <br />
    
    <label for="addrDetail">상세 주소:</label>
    <input type="text" th:field="*{addrDetail}" />
    <span class="validationError"
      th:if="${#fields.hasErrors('addrDetail')}"
      th:errors="*{addrDetail}">카드번호 오류자리</span>
    <br />
    
    <label for="addrZip">우편번호:</label>
    <input type="text" th:field="*{addrZip}" />
    <span class="validationError"
      th:if="${#fields.hasErrors('addrZip')}"
      th:errors="*{addrZip}">카드번호 오류자리</span>
    <br />
    
    <h3>대금 지불 수단:</h3>
    <label for="ccNumber">신용카드번호:</label> 
    <input type="text" th:field="*{ccNumber}" th:placeholder="${ccNumber}"/>
    <span class="validationError"
      th:if="${#fields.hasErrors('ccNumber')}"
      th:errors="*{ccNumber}">카드번호 오류자리</span>
      <button type="button" onclick="copyCCN()">복사</button>
    <br />

    <label for="ccExpiration">만료일:</label>
    <input type="text" th:field="*{ccExpiration}" 
      th:placeholder="${ccExpiration}" />
    <span class="validationError"
      th:if="${#fields.hasErrors('ccExpiration')}"
      th:errors="*{ccExpiration}">카드만기일 류자리</span>
    <br />
    
    <label for="ccCVV">CVV:</label>
    <input type="text" th:field="*{ccCVV}" 
      th:placeholder="123" />
    <span class="validationError"
      th:if="${#fields.hasErrors('ccCVV')}"
      th:errors="*{ccCVV}">카드CVV번호 오류자리</span>
    <br />
    
    <input type="submit" value="주문 제출" />
  </form>
  <script>
  	function copyCCN() {
  		document.getElementById("custName").value = "[[${custName}]]";
  		document.getElementById("addrRoad").value = "서울시 중구 종로1가100";
  		document.getElementById("addrZip").value = "10010";
  		document.getElementById("addrDetail").value = "[[${addrDetail}]]";
  		document.getElementById("ccNumber").value = "4263982640269299";
  		document.getElementById("ccExpiration").value = "12/26";
  		document.getElementById("ccCVV").value = "126";
	}
  </script>
</body>
</html>